
@font-face {
  font-family: CrackMan;
  src: url('../assets/CrackMan 2.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PressStart;
  src: url('../assets/PressStart.ttf');
  font-weight: normal;
  font-style: normal;
}

.name-container {
  margin-top: 13%;
  width: 600px;
  height: 180px;
  display: none;
  align-items: center;
  flex-direction: column;
  background: indigo;
  position: absolute;
  z-index: 5;
  border: 3px solid black;
}

.name-container h2 {
  color: black;
}
.name-container div {
  color: black;
}

.name-input {
  background: white;
  font-family: PressStart;
  color: indigo;
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

audio {
  display: none;
}

.body {
  background: black;
  color: #3e1a5c;
}

.duck {
  display: none;
}


.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.header div {
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  padding-top: 10px;
}

.title {
  font-family: CrackMan;
  font-size: 48px;
  color: #3e1a5c;
}

.mid-row {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: center;
}

.list {
  list-style: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 620px;
  padding: 10px;
  border: 3px solid #3e1a5c;
  margin: 0 40px;
}

.list li {
  text-align: center;
}

.list div {
  font-size: 20px;
  font-weight: 700;
  padding-top: 65px;
}
.list li:first-of-type {
  font-size: 20px;
  font-weight: 700;
  padding-top: 65px;
}

.list li:nth-of-type(1n) {
  padding-top: 65px;
}

.list a {
  color: #3e1a5c;
}

.list a:hover {
  cursor: pointer;
  color: #2e1b3f;
}

.game-board {
  width: 600px;
  height: 640px;
  border: 3px solid #3e1a5c;
  position: relative;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-family: 'Press Start 2P', cursive;
  margin: 0 10px;
  font-size: 20px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.links li {
  padding: 10px;
}

.fa:before {
  /* font: normal normal normal 50px/1 FontAwesome; */
  font-size: 50px;
  color: #3e1a5c;

}

.www {
  width: 60px;
  height: 60px;
  margin-top: -5px;
}
